@import 'variables';

@import '~spectre.css/src/spectre.scss';
@import '~spectre.css/src/spectre-icons.scss';

.form-input {
  border-radius: 0;
  border: 0rem;
  max-width: 99.5%;
}

.panel .panel-body {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: inset 1px 1px 10px #cccccc;
  border-radius: 0.2rem;
}

.toast {
  margin-bottom: 0.8rem;
}

.page-item a {
  cursor: pointer;
}

.divider[data-content] {
  margin: 2rem 0;
}

.panel {
  border: 0rem;
}

.tab {
  border-bottom: 0rem;
}

.tab .tab-item.active a,
.tab .tab-item a.active {
  border-bottom-color: #1890ff;
  color: #1890ff;
}

.tab .tab-item a:focus,
.tab .tab-item a:hover {
  color: #1890ff;
}

.panel .panel-nav {
  margin-bottom: 0.2rem;
}

.comment-textarea {
  border-bottom: 0px;
  border: 0px;
  resize: none;
  margin-top: 1rem;
}

.form-input-hint {
  margin-top: 0.5rem;
  color: #cccccc;
}

// .col-4 {
//   width: 33%;
// }

.halo-Button {
  outline: none;
  color: #cccccc;
  background-color: #ffffff;
  // border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  line-height: 1.499;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  float: right;
  box-shadow: 0px 0px 20px 0px #cccccc;

  position: relative;
  //此处不需要设置overflow:hidden,因为after元素需要溢出显示
}

.halo-Button:hover {
  // border-color: #1890ff;
  // border-right-width: 1px !important;
  box-shadow: 0px 0px 20px 0px #cccccc;
  z-index: 1000;
  transform: scale(1.08, 1.08);
  -ms-transform: scale(1.08, 1.08);
  -moz-transform: scale(1.08, 1.08);
  -webkit-transform: scale(1.08, 1.08);
  -o-transform: rotateY(-20deg);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.halo-Button:focus {
  outline: none;
}

.halo-Button:after {
  content: "";
  display: block;
  position: absolute;
  //扩大伪类元素4个方向各10px
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  pointer-events: none;
  background-color: #969696;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0;
  transition: all .3s;
}

.halo-Button:active:after {
  opacity: .3;
  //设置初始状态
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0s;
}

.halo-input {
  border-radius: 0.2rem;
  max-width: 98%;
}

.halo-input:hover {
  // border-color: #1890ff;
  // border-right-width: 1px !important;
  box-shadow: 0px 0px 20px 0px #cccccc;
  z-index: 1000;
  transform: translateX(0.5px);
  -ms-transform: translateX(0.5px);
  -moz-transform: translateX(0.5px);
  -webkit-transform: translateX(0.5px);
  -o-transform: translateX(0.5px);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.halo-input:focus {
  outline: none;
  // border: 1px solid #1890ff;
  box-shadow: 0px 0px 20px 0px #cccccc;
  border-right-width: 1px !important;
  z-index: 1000;
  transform: translateX(0.5px);
  -ms-transform: translateX(0.5px);
  -moz-transform: translateX(0.5px);
  -webkit-transform: translateX(0.5px);
  -o-transform: translateX(0.5px);
}

.avatar {
  background: none;
}

.comment-content-wrapper {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }

  h5 {
    font-size: 10px;
  }

  h6 {
    font-size: 8px;
  }

  img {
    width: 100%;
  }
}